<section class="portfolio-simple">
  <h1 class="portfolio-title">Our Projects</h1>
  
  <div class="projects-container">
    <!-- <div class="project-item" style="background-image:url('project1.jpg');">
      <div class="project-info">
        <p> Mr. Ramakrishnan Residence Nagercoil</p>
      </div>
    </div> -->
    <!-- <div class="project-item" style="background-image:url('project2.jpg');">
      <div class="project-info">
        <p> Mr. Perumal Residence Chennai</p>
      </div>
    </div>
    <div class="project-item" style="background-image:url('project3.jpg');">
      <div class="project-info">
        <p> Mr. Velayutham Residence Chennai</p>
      </div>
    </div>-->
    <div>
      <!-- <div class="project-info">
        <p> Saga Health Foundation Coimbatore</p>
      </div> -->
    </div> 
    <div class="project-item" style="background-image:url('/assets/HopeEnclave.jpeg');">
      <div class="project-info">
        <p> Hope Enclave Chennai</p>
      </div>
    </div>
    <!-- <div class="project-item" style="background-image:url('project3.jpg');">
      <div class="project-info">
        <p>Mr. Xavier Raj Residence Nageercoil </p>
      </div>
    </div> -->
  </div>
</section>


