<section class="portfolio-simple">
  <h1 class="portfolio-title">Our Projects</h1>
  
  <div class="projects-container">
    <div class="project-item" style="background-image:url('project1.jpg');">
      <div class="project-info">
        <p> Beverly Hills</p>
      </div>
    </div>
    <div class="project-item" style="background-image:url('project2.jpg');">
      <div class="project-info">
        <p> New York</p>
      </div>
    </div>
    <div class="project-item" style="background-image:url('project3.jpg');">
      <div class="project-info">
        <p>Tokyo</p>
      </div>
    </div>
    <div class="project-item" style="background-image:url('project1.jpg');">
      <div class="project-info">
        <p> Beverly Hills</p>
      </div>
    </div>
    <div class="project-item" style="background-image:url('project2.jpg');">
      <div class="project-info">
        <p> New York</p>
      </div>
    </div>
    <div class="project-item" style="background-image:url('project3.jpg');">
      <div class="project-info">
        <p>Tokyo</p>
      </div>
    </div>
  </div>
</section>


